

body{
	background: white;
	font-size: 1em;
}
.content1{
	border: 1px solid white;
	height:1600px;
	width:600px;
	background-color: orange;
	margin-left: -10px;
}
.content2{
	border: 1px solid white;
	height: 1600px;
	width:1100px;
	margin: 30px;
	margin-left:700px;
	margin-top: -1600px;

}
.content3{
	border: 1px solid white;
	height: 100px;
	width:30px;
	margin: 30px;
	float: right;
	margin-top: -1570px;
	background-color: orange;
}
img{
	
	height: 400px;
	width:600px;
	margin-top: -10px;
}
.info{
	background-color: orange;
	height:600px; 
	margin-top: -25px;
}
.info h1{
	padding: 20px;
	margin-top: -5px;
}
ul li{
	list-style-type: none;
	font-size: 30px;
	margin-top: 10px;
}
.a0{
	width: 60px;
	color: black;
	margin-left: 1px;
}
.a2{
	width: 580px;
	color: black;
	margin-left: 18px;
}
.a1{
	width: 50px;
	color: black;
	margin-left: 1px;
}
.a3{
	background-color: white;
	height: 50px;
	margin-top: 550px;
}


.b1{
	margin-left: 55px
}

.b2{
	margin-left: 75px;
}
.b3{
	margin-left: 85px;
}
.b4{
	border: 1px solid orange;
	height: 100px;
	background-color: orange;
	color: white;
	margin-top: 60px;
	font-size: 50px;
	text-align: center;
	width: 1160px;
}

.b5{
	border: 1px solid orange;
	width:1100px;
	color: white;
	margin-bottom: 50px;
	color: black;
	height: 130px;
	padding: 30px;
}
.b6{
	border: 1px solid orange;
	width:1100px;
	color: black;
	margin-bottom: 50px;
	height: 700px;
	padding: 30px;
	} 
.b7{
	border: 1px solid orange;
	width:1100px;
	color: white;
	margin-bottom: 250px;
	color: black;
	padding: 30px;
	height:260px;
	}

.c1{
	margin-left: 250px;
}
.c2{
	margin-left: 195px;
}
.c3{
	margin-left: 220px;
}
.c4{
	margin-left: 260px;
}
.c5{
	margin-left: 200px;
}
.c6{
	margin-left: 177px;
}
progress{
	color: black;
}
.b7 li{
	font-size: 20px;
}
.b7 h3{
	font-size: 25px;
}
.b8{
	border-width: thick;
} 
table tr td{
border: 10px;
}	

.cel1{
 	padding: 25px;
	width: 80%;

}

.align hr {

	width: 3%;
	position: absolute;
}

.b6 td:nth-child(1){

	border-right: 3px solid black;
	background: inherit;
	z-index: 999;
	width: 12%;

}